*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(25,25,25);
}

/* Navbar Section */
.header{
    position: fixed;
    padding:.5em 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    z-index: 1000;
}
.header nav{
    display: flex;
    justify-content: space-between;
    width: 52%;
    font-size: 1.3em;
    padding: 1em;
}
.header nav p{
    display: inline-block;
    font-size: 1.07em;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;
    padding-bottom: 2px;
}
.header nav p:hover{
    cursor: pointer;
    transform: translateY(-3px);
    border-bottom: 2.5px solid white;
}
.logo-title h1{
    font-family: 'Audiowide',cursive;
    letter-spacing: 4px;
    font-size: 2.25em;
}
#menu-btn{
    display: none;
}

/* Welcome Section */
.banner{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0)),url('../images/culturals-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.welcome-content{
    position: absolute;
    top: 55%;
    left: 47%;
    transform: translate(-50%,-50%);
    margin: auto 4vw;
    width: 70%;
    z-index: 2;
    line-height: 2;
    text-align: center;
}
.welcome-content p{
    font-size: 1.5em;
}
.welcome-content h1{
    font-size: 2.5em;
    color: rgb(212, 212, 15);
}
.welcome-content span{
    font-weight: bold;
    letter-spacing: 1.25px;
}
.timer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2.5em auto;
    border: 2px solid white;
    border-radius: 4px;
    width: 80%;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.15);
}
.timer-container div{
    padding: 1em;
    border: 1px solid white;
    width: 100%;
}
.timer-container .timer-main{
    color:rgb(21, 202, 219);
    font-family: 'Audiowide',cursive;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.75em;
}

/* Gallery Section */
.gallery-container{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 1em;
    transition: 0.5s ease;
    text-align: center;
}
.gallery-container h1{
    text-align: center;
    margin: 1.25em auto;
    letter-spacing: 1px;
    font-size: 2.5em;
    letter-spacing: 1.25px;
}
.gallery .glide__slide{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 2.5em;
    filter: grayscale(0.25);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s ease-in-out;
}
.gallery .glide__slide:hover{
    transform: scale(1.025);
}
.gallery-content h3{
    position: absolute;
    top:0;
    left:0;
    padding: 1.25em;
    border-bottom-right-radius: 8px;
    background-color: rgba(0,0,0,0.5);
}
.gallery-content p{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    padding: 2em;
    line-height: 1.75;
    font-size: 1.15em;
    letter-spacing: 1px;
    text-align: justify;
    background-color: rgba(0,0,0,0.5);
}
.gallery-content h3,.gallery-content p{
    color: white;
}

/* Contact Form Popup Section */
.form-popup{
    position: fixed;
    z-index: 10000;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.form-popup .form-content{
    width: 48%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 8em auto;
    padding: 0.5em;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: rgba(255,255,255, 0.2) 0px 8px 24px;
}
.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.form-content img{
    width: 95%;
    height: 65vh;
    object-fit: cover;
    filter: grayscale(0.25);
    border-radius: 12px;
}
.form-heading{
    line-height: 2.3em;
}
.form-heading form{
    margin: 2em 0;
}
.form-heading h1{
    font-family: 'Audiowide',cursive;
    letter-spacing: 1px;
}
.form-heading form input{
    display: block;
    border:1px solid black;
    padding: 0.4em 0.8em;
    font-size: 1.1vw;
    width: 95%;
    margin: 0.8em 0;
    border-radius: 5px;
    color: black;
}
.form-heading p{
    color:  rgb(196, 196, 12);
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0.5em auto;
}
.form-heading form button{
    width: 95%;
    background-color: #460824;
    padding: 0.5em;
    font-size: 1.3vw;
    color: white;
    border-radius: 5px;
    border: 0;
    outline: 0;
    margin-top: 0.5em;
    transition: 0.25s ease-in-out;
}
.form-heading form button:hover{
    cursor: pointer;
    transform: translateY(3px);
}
.form-heading form input::placeholder{
    color: rgba(0,0,0,0.75);
}
.close-modal{
    display: block;
    text-align: end;
    margin: 0.4em 0.3em;
    font-size: 2.5em;
    color: gray;
}
.close-modal:hover{
    cursor: pointer;
    color: white
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}   
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.contact-btn i{
    margin-left: 0.75em;
}
.form-popup{
    display: none;
}

/* Events Section */
.events-container{
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 3em;
    text-align: center;
}
.events-container h1{
    text-align: center;
    margin: 1.25em auto;
    letter-spacing: 1px;
    font-size: 2.5em;
    letter-spacing: 1.25px;
}
.event-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
    padding-top:0;
    justify-content: center;
}
.event{
    box-shadow: rgba(255,255,255, 0.2) 0px 8px 24px;
    border-radius: 12px;
    filter: grayscale(0.25);
    width: 375px;
    transition: 0.3s ease-in-out;
}
.event:hover{
    transform: translateY(12px);
}
.event img{
    width:375px;
    height: 360px;
    object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    filter: grayscale(0.25);
}
.event-info{
    padding:1em 0.5em;
}
.event-info h2{
    letter-spacing: 1.5px;
    margin-bottom: 0.75em;
}
.event-info button{
    display: block;
    width: 94%;
    margin: auto;
    background-color: #bd1d71;
    padding: 6px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1.25em;
}
.event-info button i{
    margin-left: 0.75em;
}
.event-info button:hover{
    cursor: pointer;
    background-color: rgba(189, 29, 113,0.85);
}

/* Organizers Section */
.organizers-container{
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 3em;
    text-align: center;
}
.organizers-container h1{
    text-align: center;
    margin: 1.25em auto;
    letter-spacing: 1px;
    font-size: 2.5em;
    letter-spacing: 1.25px;
}
.organizers-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
    padding-top:0;
    justify-content: center;
}
.organizer{
    background-color: rgba(255,255,255,0.25);
    background-image: linear-gradient(to right bottom, #08aab9, #009dd8, #597bd3, #9c4ca5, #b20059);
    box-shadow: rgba(255,255,255, 0.2) 0px 8px 24px;
    border-radius: 12px;
    filter: grayscale(0.35);
    width: 375px;
}
.organizer img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0.8em;
    object-fit: cover;
}
.organizer-info{
    background-color: rgb(25,25,25);
}
.organizer-info h2{
    padding-top: 1em;
    margin: 0;
}
.position{
    padding:1em;
    color: yellow;
    font-weight: bold;
    font-size: 1.2em;
}
.contact-icons-container{
    display: flex;
    flex-direction: row;
    gap:1em;
    justify-content: center;
    padding-bottom: 1.5em;
}
.icon{
    width: 50px;
    text-align: center;
    transition: 0.25s ease-in-out;
}
.icon i{
    font-size: 2em;
}
.icon:hover{
    cursor: pointer;
    transform: translateY(6px);
}

/* Footer Section */
.footer p{
    text-align: center;
    padding: 1.5em;
    border-top:0.5px solid rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    font-size: 1.15em;
}

/* Individual Event Section */
.ind-nav{
    position:static;
}
.individual-event{
    padding: 2em 3em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.individual-event img{
    width: 32%;
    height: 82vh;
    border-radius: 20px;
    box-sizing: border-box;
    object-fit: cover;
}
.ind-event-info{
    display: flex;
    flex-direction: column;
}
.ind-event-info h1{
    font-family: 'Audiowide',cursive;
    font-size: 2.5em;
    letter-spacing: 1.5px;
    padding: 0.5em 0;
    color: rgb(224, 224, 18);
}
.ind-event-info p{
    line-height: 2;
    font-size: 1.1em;
    padding: 0.35em 0;
    letter-spacing: 1px;
    text-align: justify;
}
.ind-event-info button{
    width: 100%;
    padding: 11px;
    border: none;
    outline: none;
    margin: 1em 0;
    border-radius: 6px;
    font-size: 1.22em;
    color: white;
    background-color: rgb(2, 2, 67);
    margin-top: auto;
}
.ind-event-info button i{
    margin-left: 0.75em;
}
.ind-event-info button:hover{
    cursor: pointer;
    transform: translateY(4px);
    background-color:  rgba(2, 2, 67,0.75);
}

/* Media Queries */

/* Navbar Section */
@media screen and (max-width:1400px) {
    .header{
        position: relative;
        padding: 1.25em;
    }
    .header nav{
        position: absolute;
        display: block;
        top:99%;
        left:0;
        right: 0;
        z-index: 5;
        width: 100%;
        background-color: rgb(0,0,0,0.8);
        padding: 0;
    }
    .navbar-container{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.3s ease;
    }
    .header nav p{
        display: block;
        text-align: center;
        padding-bottom: 1.25em;
    }
    .header nav p:hover{
        border-bottom:0;
    }
    #menu-btn{
        display: block;
        padding: 10px;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 1.3em;
    }
    #menu-btn:hover{
        cursor: pointer;
    }
    .open-menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* Welcome Section */
@media screen and (max-width:1200px) {
    .welcome-content{
        width: 90%;
        line-height: 1.8;
    }
}
@media screen and (max-width:800px) {
    .timer-container{
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .welcome-content{
        flex-direction: column;
        align-items: center;
        gap: 2.5em;
    }
    .welcome-content h1{
        font-size: 1.85em;
    }
    .welcome-content p{
        font-size: 1.3em;
    }
}
@media screen and (max-width:360px) {
    .welcome-content{
        margin-top: 2.5em;
    }
    .logo-title h1{
        font-size: 1.6em;
    }
    .timer-container div{
        padding: 0.5em;
    }
    .timer-container .timer-main{
        font-size: 1.35em;
    }
}

/* Gallery Section */
@media screen and (max-width:1200px) {
    .gallery-container{
        max-width: 90%;
    }
}
@media screen and (max-width:767px) {
    .gallery .glide__slide{
        min-height: 65vh;
        border-radius: 3.5%;
    }
    .gallery-content h3{
        font-size: 95%;
    }
    .gallery-content p{
        font-size: 1em;
    }
}
@media screen and (max-width:500px) {
    .gallery-content p{
        display: none;
    }
    .gallery .glide__slide{
        min-height: 60vh;
    }
}

/* Contact Form Popup Section */
@media screen and (max-width:1300px) {
    .form-popup .form-content{
        width:80%;
        position: relative;
    }
    .close-modal{
        position: absolute;
        top:0;
        right: 0;
    }
    .form-heading form input,.form-heading form button{
        padding: 0.6em;
        font-size: 1.45vw;
    }
    .form-heading p{
        font-size: 1.4em;
    }
}
@media screen and (max-width:1000px) {
    .form-heading form input,.form-heading form button{
        padding: 0.75em;
        font-size: 1.75vw;
    }
    .form-heading p{
        font-size: 1.3em;
    }
}
@media screen and (max-width:800px) {
    .form-popup .form-content{
        width:96%;
        position: relative;
    }
    .form-content img{
        height: 60vh;
    }
    .form-heading form input,.form-heading form button{
        font-size: 1.95vw;
    }
    .form-heading{
        margin-top: 2.5em;
    }
}
@media screen and (max-width:580px) {
    .form-heading form input,.form-heading form button{
        font-size: 3.5vw;
        width: 100%;
    }
    .form-content img{
        display: none;
    }
    .form-popup .form-content{
        padding: 1em;
        margin: 4em auto;
        width: 92%;
    }
    .form-content{
        grid-template-columns: 1fr;
    }
    .form-heading form input{
        padding: 0.5em;
    }
    .form-heading form button{
        padding: 0.4em;
    }
}

/* Events Section */
@media screen and (max-width:400px) {
    .event-wrap{
        padding: 1em;
    }
    .event{
        width: 100%;
    }
    .event img{
        width: 100%;
    }
}

/* Individual Events Section */
@media screen and (max-width:1200px) {
    .individual-event{
        flex-wrap: wrap;
    }
    .individual-event img{
        width: 100%;
        height: 50vh;
    }
    .ind-event-info button{
        margin-top: 1em;
    }
}
